body {
	font-family: Sans-Serif;
	font-size: 11pt;
}

h1 {
	text-align: center;
}

h1 small {
	font-size: 0.5em;
}

#container {
	width: 80%;
	margin: 10px auto;
	overflow: hidden;
}

#content {
	width: 72%;
	float: left;
	padding: 1%;
}

#sidebar {
	margin-top: -20px;
	width: 20%;
	float: right;
	padding: 1%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #333;
}

tr, td, th {
	margin: 0;
	padding: 5px;
}

.left {
	width: 50%;
	float: left;
}

.right {
	width: 50%;
	float: right;
}

#timer, #balance-container {
	background-color: #ddd;
	padding: 5px 10px;
}

#timer {
	position: fixed;
	left: 0;
	top: 0;
}

#balance-container {
	position: fixed;
	right: 0;
	top: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

li {
	font-weight: bold;
}

li span {
	font-weight: normal;
}
